@charset "UTF-8";

@font-face{
    font-family: 'bahns';
    src: url('../fontes/BAHNSCHRIFT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    }

html, body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

body{
    background-position: center center;
    background-image: url('../imagens/capa.jpg');
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
}

section#nb{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    height: 650px;
    width: 1060px;
    background: url('../imagens/nb.png') no-repeat;
    background-size: cover;
}

#show-or-hide{
    position: absolute;
    top: 2.2%;
    left: 15%;
    display: block;
    width: 100px;
    height: px;
    line-height: 15px;
    font-size: 12px;
    font-family: 'bahns','sans-serif';
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

#show-or-hide span{
    position: relative;
    z-index: 2;
}
  
#show-or-hide:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}
  
#show-or-hide:hover{
    color: #fff;
}
  
#show-or-hide:hover:after{
    width: 100%;
}

#show-or-hide-qs{
    position: absolute;
    top: 4.8%;
    left: 28%;
    display: block;
    width: 100px;
    height: px;
    line-height: 15px;
    font-size: 12px;
    font-family: 'bahns','sans-serif';
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

#show-or-hide-qs span{
    position: relative;
    z-index: 2;
}

#show-or-hide-qs:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

#show-or-hide-qs:hover{
    color: #fff;
}

#show-or-hide-qs:hover:after{
    width: 100%;
}

.servicos, .outros{
    display: none;
    padding-top: 7%;
    width: 18vw;
    height: 86%;
    background-color: rgba(255, 255, 255, 0.233);
    animation: go-back 1s forwards alternate;
}

@keyframes go-back{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0);
    }
}

/*transform: translateX(-100%);
transform: translateX(0%);
transition: 4s;*/

iframe#tela{
    position: relative;
    top: 3.5%;
    left: 147px;
    height: 494px;
    width: 790px;
    overflow: hidden;
}

.link{
    display: flex;
    align-items: center;
    font-family: 'bahns', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.0em;
    padding-left: 5%;
    height: 9vh;
    width: 330px;
}

.servicos a:link, .outros a:link{
    color: #551A8B;
    text-decoration: none;
}

.servicos a:hover, .outros a:hover{
    color: brown;
    transform: scale(1.05);
    transition: 0.2s;
}

.servicos a:focus, .outros a:focus{
    color: white;
    background-color: brown;
    transform: scale(1.05);
    transition: 0.2s;
}

#logovida{
    position: absolute;
    height: 110px;
    width: 215px;
    background-size: cover;
    background-image: url(../imagens/logo-vida.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 4%;
    right: 3%;
}

div#logoin{
    position: absolute;
    z-index: 2;
    height: 22px;
    width: 22px;
    background-size: cover;
    background-image: url(../imagens/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 4.6%;
    right: 11.8%;
}

div#download{
    position: absolute;
    z-index: 2;
    height: 22px;
    width: 22px;
    background-size: cover;
    background-image: url(../imagens/nuvem.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 4.6%;
    right: 16.5%;
}

div#download:hover, div#logoin:hover{
    transform: scale(1.20);
}

@media screen and (max-width: 1440px){
    /*MAX WIDTH = TELA MENORES QUE ALGUMA RESOULAÇÃO*/
    section#nb{
        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-40%, -40%);
        height: 585px;
        width: 954px;
        background: url('../imagens/nb.png') no-repeat;
        background-size: cover;
    }

    #show-or-hide{
        position: absolute;
        top: 4.75%;
        left: 15%;
    }

    iframe#tela{
        position: relative;
        top: 5.7%;
        left: 13.8%;
        height: 447px;
        width: 711px;
        overflow: hidden;
    }

    #logovida{
        position: absolute;
        height: 62px;
        width: 120px;
    }

    #logoin{
        position: absolute;
        height: 20px;
        width: 20px;
        top: 14.3%;
        right: 18%;
    }

    #download{
        position: absolute;
        height: 20px;
        width: 20px;
        top: 14.3%;
        right: 21%;
    }

    .link{
        font-size: 0.8em;
        font-weight: bolder;
        padding-left: 5%;
    }
    .servicos, .outros{
        padding-top: 7%;
        width: 18vw;
        height: 87%;
    }
}